﻿<div class="Container" style="padding-top: 70px;">

    <div>
        <legend>Clientes
        </legend>

        <form class="form-horizontal" ng-submit="Load(identification)">
            <fieldset>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="active">Cédula</label>
                    <div class="col-md-5">
                        <input class="form-control" name="identification" ng-model="identification" id="nitClientInput" placeholder="Cédula Cliente" required />                        

                        <div>
                            <button type="submit" class="btn btn-primary" ng-disabled="identification==undefined"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Cargar</button>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>

    <div>
        <div>


            <form class="form-horizontal" name="clientForm">
                <fieldset>

                    <div ng-show="messageCalledClient" class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Atención!</strong> Este cliente ya ha sido Llamado Por: <strong>{{formClient.asesor}}</strong> el <strong>{{formClient.fechaLlamada | date:"MM/dd/yyyy "}}</strong>
                    </div>

                    <div ng-show="noRegistredClient" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Atención!</strong><span> Este Cliente no está registrado en la base de datos </span>
                    </div>

                    <!--timer-->
                    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="showTime">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Tiempo de Llamada:</strong><span><strong>&nbsp;&nbsp;&nbsp;{{callSeconds | date:' mm:ss'}}</strong></span><br>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="nitInput">Cedula</label>
                        <div class="col-md-8">
                            <input id="nitInput" name="nitInput" type="text" ng-model="formClient.cedula" placeholder="Cedula" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="nameInput">Nombres</label>
                        <div class="col-md-8">
                            <input id="nameInput" name="nameInput" type="text" ng-model="formClient.nombres" placeholder="Nombres" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="lastNameInput">Apellidos</label>
                        <div class="col-md-8">
                            <input id="lastNameInput" name="lastNameInput" type="text" ng-model="formClient.apellidos" placeholder="Apellidos" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="celInput">Celular</label>
                        <div class="col-md-8">
                            <input id="celInput" name="celInput" type="text" ng-model="formClient.celular" placeholder="Celular" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="phoneInput">Teléfono</label>
                        <div class="col-md-8">
                            <input id="phoneInput" name="phoneInput" ng-model="formClient.telefono" type="text" placeholder="Teléfono" class="form-control input-md">
                        </div>
                    </div>

                     <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Dirección</label>
                        <div class="col-md-8">
                            <input id="Text4" name="addres" type="text" ng-model="formClient.direccion" placeholder="Dirección" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Barrio</label>
                        <div class="col-md-8">
                            <input id="Text5" name="addres" type="text" ng-model="formClient.barrio" placeholder="Barrio" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="mailInput">Correo</label>
                        <div class="col-md-8">
                            <input id="mailInput" name="mailInput" ng-model="formClient.correo" type="email" placeholder="Correo" class="form-control input-md" >
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="surveyInput"># Encuesta</label>
                        <div class="col-md-5">
                            <input id="surveyInput" name="surveyInput" type="text" ng-model="formClient.codigoEncuesta" placeholder="Número Encuesta" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Regalo # 1</label>
                        <div class="col-md-8">
                            <input id="present1Input" name="present1" type="text" ng-model="formClient.regalo1" placeholder="Regalo # 1" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Regalo # 2</label>
                        <div class="col-md-8">
                            <input id="present2Input" name="present2" type="text" ng-model="formClient.regalo2" placeholder="Regalo # 2" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Regalo # 3</label>
                        <div class="col-md-8">
                            <input id="Text1" name="present3" type="text" ng-model="formClient.regalo3" placeholder="Regalo # 3" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Regalo # 4</label>
                        <div class="col-md-8">
                            <input id="Text2" name="present4" type="text" ng-model="formClient.regalo4" placeholder="Regalo # 4" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Regalo # 5</label>
                        <div class="col-md-8">
                            <input id="Text3" name="present5" type="text" ng-model="formClient.regalo5" placeholder="Regalo # 5" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="callStatus">Estado Llamada</label>
                        <div class="col-md-5">
                            <select id="callStatus" name="callStatus" class="form-control" ng-model="formClient.estadoLlamada" required>
                                <option value="0">Exitosa</option>
                                <option value="1">No Exitosa</option>
                                <option value="2">No Contactar</option>
                            </select>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="callButton"></label>
                        <div class="col-md-5">
                            <button id="callButton" name="callButton" ng-click="Call()" ng-disabled="calledClient || clientForm.$invalid" class="btn btn-success"><span class="glyphicon glyphicon-earphone"></span>&nbsp;Llamar</button>
                            <button id="cleanButton" name="clean" ng-click="Clean()" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Nueva Consulta</button>
                            <button data-toggle="modal" id="referred" name="referred" class="btn btn-default"  ng-disabled="valid" data-target="#ReferidosModal"><span class="glyphicon glyphicon-plus"></span>&nbsp;Agregar Referido</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>

        <div class="col-xs-12 buttonContainer">
            <div class="col-sm-offset-3 col-sm-6">
                <button-back label="Menú Principal" code="{{operatorCode}}" color="#fff" fontsize="1.5em"></button-back>
            </div>
        </div>

         <!-- Modal Agregar Referidos -->
        <div class="modal fade" id="ReferidosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="H1">Agregar Referido</h4>
                    </div>
                    <form class="form-horizontal" name="referredForm" ng-submit="Save()">
                        <fieldset>
                            <div class="modal-body">

                                <!--<div class="alert alert-warning" role="alert">Si No Conoce el número de Cédula, ingrese un número arbitrario para ser editado al Llamar</div>-->

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="nitInput">Cedula</label>
                                    <div class="col-md-8">
                                        <input id="Text6" name="nitInput" type="text" ng-model="referred.cedula" placeholder="Cedula" class="form-control input-md" required="">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="nameInput">Nombres</label>
                                    <div class="col-md-8">
                                        <input id="Text7" name="nameInput" type="text" ng-model="referred.nombres" placeholder="Nombres" class="form-control input-md" required="">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="lastNameInput">Apellidos</label>
                                    <div class="col-md-8">
                                        <input id="Text8" name="lastNameInput" type="text" ng-model="referred.apellidos" placeholder="Apellidos" class="form-control input-md" required="">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="celInput">Celular</label>
                                    <div class="col-md-8">
                                        <input id="Text9" name="celInput" type="text" ng-model="referred.celular" placeholder="Celular" class="form-control input-md">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="phoneInput">Teléfono</label>
                                    <div class="col-md-8">
                                        <input id="Text10" name="phoneInput" ng-model="referred.telefono" type="text" placeholder="Teléfono" class="form-control input-md">
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="SaveReferred()" ng-disabled="referredForm.$invalid || (referred.celular === undefined && referred.telefono === undefined)"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>

                        </fieldset>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
