﻿<div class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <form class="form-horizontal" name="filterForm">
                    <fieldset>


                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="maintenanceStatus">Estado Cliente</label>
                            <div class="col-md-5">
                                <select id="Select1" name="maintenanceStatus" class="form-control" ng-model="filter.status" required>
                                    <option value="null">Todos</option>
                                    <option value="true">Llamados</option>
                                    <option value="false">Sin Llamar</option>
                                </select>
                            </div>
                        </div>

                        <!-- start DatePicker -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="startDate">Creado Desde</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default button-datePicker" ng-click="openStartTypeDate($event, 'opened1')">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    <input type="datetime" class="form-control" datepicker-popup="{{format}}" show-weeks="false" id="startTypeDate" data-ng-model="startType" max="'9999-07-22'" show-button-bar="false" is-open="startTypeDateOpened" />
                                </div>
                            </div>
                        </div>

                        <!-- end DatePicker -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="endDate">Creado Hasta</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default button-datePicker" ng-click="openFinalTypeDate($event, 'opened2')" ng-disabled="startType==null">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    <input type="datetime" class="form-control" datepicker-popup="{{format}}" ng-disabled="startType==null" show-weeks="false" id="finalTypeDate" data-ng-model="endType" max="'9999-07-22'" show-button-bar="false" is-open="finalTypeDateOpened" />
                                </div>
                            </div>
                        </div>

                        <!--  LLAMADOS -->

                        <!-- start DatePicker -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="startDate">Llamado Desde</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default button-datePicker" ng-click="openStartCallDate($event, 'opened1')">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    <input type="datetime" class="form-control" datepicker-popup="{{format}}" show-weeks="false" id="Datetime1" data-ng-model="startCall" max="'9999-07-22'" show-button-bar="false" is-open="startCallDateOpened" />
                                </div>
                            </div>
                        </div>

                        <!-- end DatePicker -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="endDate">Llamado Hasta</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default button-datePicker" ng-click="openFinalCallDate($event, 'opened2')" ng-disabled="startCall==null">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    <input type="datetime" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-disabled="startCall==null" id="Datetime2" data-ng-model="endCall" max="'9999-07-22'" show-button-bar="false" is-open="finalCallDateOpened" />
                                </div>
                            </div>
                        </div>

                         <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="clientType">Tipo Cliente</label>
                            <div class="col-md-5">
                                <select id="Select2" name="clientType" class="form-control" ng-model="filter.clientType" required>
                                    <option value="null">Todos</option>
                                    <option value="true">Referidos</option>
                                    <option value="false">No Referidos</option>
                                </select>
                            </div>
                        </div>



                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-8 control-label" for="search"></label>
                            <div class="col-md-4">
                                <button id="exportButton" name="search" class="btn btn-success" ng-disabled="!enableDownload" ng-click="exportData()"><span class="glyphicon glyphicon-export"></span>&nbsp;Exportar</button>
                                <button id="search" name="search" class="btn btn-success" ng-disabled="filterForm.$invalid" ng-click="requestData()"><span class="glyphicon glyphicon-search"></span>&nbsp;Consultar</button>
                            </div>
                        </div>

                    </fieldset>
                </form>


                <div class="col-xs-12 historyGrid">

                    <div ng-show="showEmptyMessage" class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Atención! </strong>No hay datos para esta consulta<br>
                    </div>

                    <div>
                        <div class="input-group" id="filter-container">
                            <div class="input-group-addon"><b><span class="glyphicon glyphicon-search"></span></b></div>
                            <input type="text" class="form-control" id="userFilter" placeholder="Filtro" data-ng-model="clientData_Filter">
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="table-responsive table-scrollable">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Cedula</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Celular</th>
                                        <th>Estado</th>
                                        <th>Estado Llamada</th>
                                        <th>Llamado Por</th>
                                        <th>Digitado Por</th>
                                        <th>Fecha Digitación</th>
                                        <th>Fecha LLamada</th>
                                        <th>Duración</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="cliente in clientes | filter: clientData_Filter | startFrom: (currentPage - 1)*pageSize | limitTo: pageSize">
                                    <tr>
                                        <td>{{cliente.cedula}}</td>
                                        <td>{{cliente.nombres}}</td>
                                        <td>{{cliente.apellidos}}</td>
                                        <td>{{cliente.celular}}</td>
                                        <td>{{cliente.estado | status_filter}}</td>
                                        <td>{{cliente.estadoLlamada | callStatus_filter}}</td>
                                        <td>{{cliente.asesor}}</td>
                                        <td>{{cliente.digitador}}</td>
                                        <td>{{cliente.fechaCreacion | date:'yyyy-MM-dd' }}</td>
                                        <td>{{cliente.fechaLlamada | date:'yyyy-MM-dd' }}</td>
                                        <td>{{cliente.duracionLlamada | date:' mm:ss'}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        <div class="row">
                            <div class="text-center">
                                <pagination items-per-page="pageSize" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-xs-12 -->
                </div>
                <!-- /.historyGrid -->

                <div class="col-xs-12 buttonContainer">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button-back label="Menú Principal" code="{{operatorCode}}" color="#fff" fontsize="1.5em"></button-back>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-bg-12 -->
    </div>
    <!-- /.row -->
</div>

