﻿<div class="Container" style="padding-top: 70px;">

    <div>
        <legend>Clientes
            <button id="Button1" name="clean" ng-click="Clean()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Nuevo</button>
            <!--<button type="button" class="btn btn-primary" ng-click="loadEditForm()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Editar</button>-->
        </legend>

        <form class="form-horizontal" ng-show="view.editInfo">
            <fieldset>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="active">Cédula</label>
                    <div class="col-md-5">

                        <input class="form-control" name="client" ng-model="identification" id="nitClientInput" placeholder="Cédula Cliente" required />

                        <div>
                            <button type="button" class="btn btn-success" ng-click="Update(identification)" ng-disabled="identification==undefined"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Validar</button>
                        </div>
                    </div>
                </div>
            </fieldset>

            <legend></legend>
        </form>
    </div>

    <div>
        <div ng-show="view.form">


            <form class="form-horizontal" name="clientForm" ng-submit="Save()">
                <fieldset>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="nitInput">Cedula</label>
                        <div class="col-md-8">
                            <input id="nitInput" name="nitInput" type="text" ng-model="formClient.cedula" placeholder="Cedula" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="nameInput">Nombres</label>
                        <div class="col-md-8">
                            <input id="nameInput" name="nameInput" type="text" ng-model="formClient.nombres" placeholder="Nombres" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="lastNameInput">Apellidos</label>
                        <div class="col-md-8">
                            <input id="lastNameInput" name="lastNameInput" type="text" ng-model="formClient.apellidos" placeholder="Apellidos" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="celInput">Celular</label>
                        <div class="col-md-8">
                            <input id="celInput" name="celInput" type="text" ng-model="formClient.celular" placeholder="Celular" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="phoneInput">Teléfono</label>
                        <div class="col-md-8">
                            <input id="phoneInput" name="phoneInput" ng-model="formClient.telefono" type="text" placeholder="Teléfono" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Dirección</label>
                        <div class="col-md-8">
                            <input id="Text4" name="addres" type="text" ng-model="formClient.direccion" placeholder="Dirección" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Barrio</label>
                        <div class="col-md-8">
                            <input id="Text5" name="addres" type="text" ng-model="formClient.barrio" placeholder="Barrio" class="form-control input-md" required="">
                        </div>
                    </div>
                                       
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="mailInput">Correo</label>
                        <div class="col-md-8">
                            <input id="mailInput" name="mailInput" ng-model="formClient.correo" type="email" placeholder="Correo" class="form-control input-md">
                        </div>
                    </div>                    

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="surveyInput"># Encuesta</label>
                        <div class="col-md-5">
                            <input id="surveyInput" name="surveyInput" type="text" ng-model="formClient.codigoEncuesta" placeholder="Número Encuesta" class="form-control input-md">
                        </div>
                    </div>

                     <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Regalo # 1</label>
                        <div class="col-md-8">
                            <input id="present1Input" name="present1" type="text" ng-model="formClient.regalo1" placeholder="Regalo # 1" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Regalo # 2</label>
                        <div class="col-md-8">
                            <input id="present2Input" name="present2" type="text" ng-model="formClient.regalo2" placeholder="Regalo # 2" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Regalo # 3</label>
                        <div class="col-md-8">
                            <input id="Text1" name="present3" type="text" ng-model="formClient.regalo3" placeholder="Regalo # 3" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Regalo # 4</label>
                        <div class="col-md-8">
                            <input id="Text2" name="present4" type="text" ng-model="formClient.regalo4" placeholder="Regalo # 4" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="present1">Regalo # 5</label>
                        <div class="col-md-8">
                            <input id="Text3" name="present5" type="text" ng-model="formClient.regalo5" placeholder="Regalo # 5" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="saveButton"></label>
                        <div class="col-md-4">
                            <button type="submit" id="saveButton" name="saveButton" ng-disabled="clientForm.$invalid" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar</button>                            
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>

        <div class="col-xs-12 buttonContainer">
            <div class="col-sm-offset-3 col-sm-6">
                <button-back label="Menú Principal" code="{{operatorCode}}" color="#fff" fontsize="1.5em"></button-back>
            </div>
        </div>

    </div>
</div>
